*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  // pointer-events: none;
}
img {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
a {
  all: unset;
}
a:hover {
  color: #000;
}
.nav-link-style {
  color: #333;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #333;
  // 　　四、去除ios input框点击时的灰色背景
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // 一、取消a标签在移动端点击时的蓝色
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
// 二、使用图片作为a标签的点击按钮时，当触发touchstart的时候，往往会有一个灰色的背景
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}
// 三、改变选中内容的背景颜色
a::selection {
  background: #fff;
  color: #333;
}
a::-moz-selection {
  background: #fff;
  color: #333;
}
a::-webkit-selection {
  background: #fff;
  color: #333;
}
